@import '~tailwindcss/dist/tailwind.css';

$black:#000000;
$grey:#ccc;

.portfolio--case-study-container{
	max-width: 1200px;
	margin: auto;

	.portfolio-page-header {
		width: 65%;

		.portfolio-page-decription{
			font-size: 30px;
			line-height: 3.2rem;
			color: $black;
		}
	}

	.portfolio-filter{

		.portfolio-category{
			font-size: 17gitpx;
		}
	}

	.portfolio--page_data {

		.portfolio-data-content {

			// box-shadow: 2px -1px 19px 0 #02002554;

		.portfolio--title{
			font-size: 15px;
		}

		.portfolio--excerpt {
			line-height: 2.6rem;
			font-size: 25px;
			color: $black;
		}

		.portfolio--tags {
			border: 1px solid $grey;
    		margin-right: 20px;
    		padding: 4px 7px 4px 7px;
			}

		}
		
	}
}