@import '~tailwindcss/dist/tailwind.css';

.portfolio--case-study-container{
	max-width: 1200px;
	margin: auto;

	.portfolio--page_data {

		--mouseX7:0;
		--mouseY7:0;
		position: relative;

		&:before {
			display: block;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    content: ' ';
		    z-index: -1;
		    background: #fff;
		    transform: perspective(700px) rotateX(calc(var(--mouseY7) * -1deg)) rotateY(calc(var(--mouseX7) * 1deg));
		}
		.portfolio--title{
			font-size: 15px;
			text-transform: uppercase;
			font-weight: 500;
			margin-top: 20px;
		}

		.portfolio--excerpt {
			line-height: 4rem;
			font-size: 25px;
		}	
	}
}