/*===== Form CheckBoxes=========*/
.mt-25 {
	margin-top: 25px;
}
.mb-12{
	margin-bottom: 12px;
}
.mt--6 {
	margin-top: -6px;
}

.flex{
	display: inline-flex;
}

.full-width {
	width: 100%;
}

.text-left {
	float: left;
}

.pr-10{
	padding-right: 10px;
}
.mt-10 {
	margin-top: 10px;
}